<form class="ui large form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input type="text" name="title" #newTitle>
  </div>

  <div class="field">
    <label for="link">Link:</label>
    <input type="text" name="link" #newLink>
  </div>
  <button (click)="addArticle(newTitle, newLink)"
    class="ui positive right floated button"> Submit
  </button>
</form>



<div class="ui grid posts">
  <div class="ui grid posts">
    <app-article 
      *ngFor="let _article of sortedArticles()" 
      [article]="_article">
    </app-article>
  </div>
</div>